<h1>FREIGHT BROKER RATINGS</h1>

<a class="btn btn-primary" href="/add">Add Rating</a>
{{!-- <a class="btn btn-secondary" href="/login">My Ratings</a> --}}
<a class="btn btn-secondary" href="/login">Login</a>
<a class="btn btn-secondary" href="/companies">Companies</a>
<br>

<br>
<br>
<table class="table table-bordered table-hover table-sm">
    <tr>
    <th>Company </th> 
    <th>Name</th>
    <th>Load Number</th>
    <th>Rating</th>
    <th>Comment</th>
    <th>Rated By</th>
    <th>Rated Date</th>
    </tr>
{{#each ratings}}
<tr> 
<td>{{this.company.companyName}}</td>
<td>{{this.firstName}} {{this.lastName}}</td>
 <td> {{this.loadNumber}} </td> 
 <td> {{this.rating}}</td>
 <td> {{this.comment}}</td>
 <td>{{this.user.username}}</td>
 <td>{{this.createdAt}}</td>
{{!-- <td style = "text-align: center;"> <a class="btn btn-primary" href="/edit/{{ this.id }}">Edit</a> <a class="btn btn-danger" href = "/delete/{{ this.id }}">Delete</a></td> --}}

{{/each}}

</table>

